.place:active {
    /*background: #b45c17;*/
    border-radius: 5px;
    border-color: #2a59b4;
    box-shadow: 0 0 5px #333 inset;
    /*margin: 10px;*/
}

.enemy {
    /*background: #b45c17;*/
    border-radius: 5px;
    border-color: #b43026;
    box-shadow: 0 0 5px #333 inset;
    /*margin: 10px;*/
}

.space {
    /*background: #b45c17;*/
    border-radius: 5px;
    border-color: #34b431;
    box-shadow: 0 0 5px #333 inset;
    /*margin: 10px;*/
}